/**
 * Import All CSS here
 * Webpack will pick up this file and all its imports.
 */

@import '~normalize.css';
@import '~bootstrap/scss/bootstrap';
@import './theme/variables';
@import './theme/clouds';

.html, body {
	background: $background-color;
	color: $default-font-color;
	font: 100% Arial, Sans Serif;
    height: 100%;
    width: 100%;
}

.center {
    text-align: center;
}

.weight--bold {
    font-weight: bold;
}
  
.input-wrapper {
    margin: 10px auto;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 3px gray;
    background-color: rgba(245, 245, 245, 0.7);
    padding: 8px;
    width: 50%;
}

/* ## OVERRIDES ## */
.country-select {
    width: 100%;
}

.block-margin--right {
    display: inline;
    margin-right: 1rem;
}

.condition-card {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 3px grey;
    background-color: rgba(245, 245, 245, 0.8);
    padding: 8px;
    margin: 10px auto;
    width: 50%;
}

/* ## Mobile Overrides ## */
@media only screen and (max-width: 724px) {
    html, body {
        font-size: 90%;
    }

    .icon {
        width: 20%;
    }

    .condition-card {
        width: 95%;
    }

    .input-wrapper {
        width: 95%;
    }
}